<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ehdes-CI | Agents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% cssfiles.forEach(cssfile => { %>
        <link rel="stylesheet" type="text/css" media="screen" href="<%= cssfile %>">
    <% });%>
</head>
<body>
    <table>
        <thead>
            <% head.forEach(headRow => { %>
                <tr>
                    <% headRow.forEach(column => { %>
                        <td><%- column %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </thead>
        <tbody>
            <% body.forEach(bodyRow => { %>
                <tr>
                    <% bodyRow.forEach(column => { %>
                        <td><%- column %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>